@media(max-width:500px){
    
}
#outercolor{
   border: solid purple;
   
}
.box{
    background: blue;
    padding: 10px;
   
}
.innerbox{
    background: red;
    
}
.p{
    color: yellow;
    margin: 0px;
}
.white{
    color: white;
    margin: 0px;
}
